<h1>signup page</h1>


<form action="/auths/signup" method="POST">
    <input type="text" placeholder="username" name="username" value="">
    <input type="password" placeholder="password" name="password" value="">
    <button >Submit</button>
</form>
